.img-ho1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    border: 1px solid;
    z-index: -1;
    border-color: #000 !important;
    transition: all 0.8s;
    border-radius: 50% 50% 0 0;
}
.img-ho1:hover:after {
    left: -18px;
    top: 18px;
}
.img-ho1:hover img {
    transform: translate(10px, -10px);
}