.offcanvas.right.is-closed {
    transform: translateX(100%);
}
.offcanvas-top.offcanvas.is-closed {
    transform: translateY(-100%);
}
.modal-backdrop, .offcanvas-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    z-index: 10 !important;
    opacity: var(--bs-backdrop-opacity);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
    transition: opacity .15s linear;
}